.page-content
  // BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM
  #portlet-config.modal.hide
    .modal-header
      button.close(data-dismiss='modal', type='button')
      h3 portlet Settings
    .modal-body
      p Here will be a configuration form
  // END SAMPLE PORTLET CONFIGURATION MODAL FORM
  // BEGIN PAGE CONTAINER
  .container-fluid
    // BEGIN PAGE HEADER
    .row-fluid
      .span12
        // BEGIN STYLE CUSTOMIZER
        ul.breadcrumb(style="margin-top:20px; margin-bottom:10px;")
          li
            i.icon-home
            a(href='/') 主页
            i.icon-angle-right

          li
            a(href='#') #{selectParent}
            i.icon-angle-right
          li
            a(href='#') #{selectName}
        // END PAGE TITLE & BREADCRUMB
    // END PAGE HEADER
    // BEGIN PAGE CONTENT
    .row-fluid
      .span12
        div.input-group
            span
                button.btn.green 标题
                - if(article)
                    input#mytitle(style="margin-top:10px; height:25px; width:92%" type="text" placeholder="标题是必须要的哦...." value="#{article.tb_title}")
                    input#hiddenTab(type="hidden" value="#{tableName}")
                    input#hiddenTab1(type="hidden" value="#{selectName}")
                - else
                    input#mytitle(style="margin-top:10px; height:25px; width:92%" type="text" placeholder="标题是必须要的哦....")
                    input#hiddenTab(type="hidden" value="#{tableName}")
                    input#hiddenTab1(type="hidden" value="#{selectName}")
            div(style="margin-top:10px;")
                script(id="editor" type="text/plain" style="height:400px; width:100%")
                - if(article)
                    script.
                        var ue = UE.getEditor('editor');
                        ue.addListener( 'ready', function( editor )
                        {
                            ue.execCommand('focus');
                            ue.setContent(!{JSON.stringify(article.tb_content).replace(/<\//g, "<\\/")});
                        });
                        function getContent() {
                            return UE.getEditor('editor').getContent();
                        }
                        function getAllHtml() {
                            alert(UE.getEditor('editor').getAllHtml())
                        }
                        function setContent(content)
                        {
                            ue.setContent(content);
                        }
                        function getContentTxt()
                        {
                            return ue.getContentTxt();
                        }
                        function getArticleId()
                        {
                            return "#{article.tb_id}";
                        }
                - else
                    script.
                        var ue = UE.getEditor('editor');
                        ue.addListener( 'ready', function( editor )
                        {
                            ue.execCommand('focus');
                            ue.setContent("");
                        });
                        function getContent() {
                            return UE.getEditor('editor').getContent();
                        }
                        function getAllHtml() {
                            alert(UE.getEditor('editor').getAllHtml())
                        }
                        function getContentTxt()
                        {
                            return ue.getContentTxt();
                        }
                        function setContent(content)
                        {
                            ue.setContent(content);
                        }
            div(style="margin-top:10px;")
                if(article)
                    button.btn.green#commit-update 点击更新
                else
                    button.btn.green#commit-edit 点击提交        
    // END PAGE CONTENT
  // END PAGE CONTAINER
