.page-content
  // BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM
  #portlet-config.modal.hide
    .modal-header
      button.close(data-dismiss='modal', type='button')
      h3 portlet Settings
    .modal-body
      p Here will be a configuration form
  // END SAMPLE PORTLET CONFIGURATION MODAL FORM
  // BEGIN PAGE CONTAINER
  .container-fluid
    // BEGIN PAGE HEADER
    .row-fluid
      .span12
        // BEGIN STYLE CUSTOMIZER
        ul.breadcrumb(style="margin-top:20px; margin-bottom:10px;")
          li
            i.icon-home
            a(href='/') 主页
            i.icon-angle-right

          li
            a(href='#') #{selectParent}
            i.icon-angle-right
          li
            a(href='#') #{selectName}
        p(style="float:right")
          a.btn(href="/edit?selectParent=#{selectParent}&selectName=#{selectName}&id=#{article.tb_id}")
            i.icon-plus 编辑
        // END PAGE TITLE & BREADCRUMB
    // END PAGE HEADER
    // BEGIN PAGE CONTENT
    .row-fluid(style="border:1px solid #ECECEC; min-height:500px;")
      .span12
        div(style="text-align:center;")
          h1 #{article.tb_title}
        div(style="padding:2px 8px 2px 8px;")
          !{article.tb_content}
    // END PAGE CONTENT
  // END PAGE CONTAINER
